.container{
    background-color: rgb(136, 195, 175);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20rem;
}

.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    align-content: center;
    text-align: center;
    background-color: rgb(37, 42, 42);
    border-radius: 5%;
    padding: 1rem;
}

.campo{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}